<?xml version="1.0"?>

<model>
  <name>Apple cube</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Olesia</name>
    <email>lesya.maiorova@yandex.ru</email>
  </author>

  <description>
    Example of cybe to see how textures works
  </description>

</model>
